.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 210px;
  border: solid 1px #dbdbdb;
  border-radius: 15px;
  padding: 10px;
  position: relative;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 400px;
    margin: 20px auto;
  }
}
.paySubtitle {
  font-size: 12px;
  color: #9b9eaf;
  margin-bottom: 10px;
}
.payList {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}

.payItem {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 70px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
  align-items: center;
  border-radius: 10px;
  background-color: #c5d5e6;
}

.payItem:not(:nth-child(3n + 3)) {
  margin-right: 10px;
}

.payItem:hover {
  background-color: #670380;
}

.payIcon {
  display: block;
  margin-bottom: 5px;

  fill: #ffffff;
}

.payIconWebMoney {
  display: block;
  margin-bottom: 3px;

  fill: #ffffff;
}
.payMasterIcon {
  margin-right: 20px;
}

.privatTitle {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.payDescr {
  font-size: 8px;
  color: #ffffff;
  text-align: center;
}
.payForm {
  width: fit-content;
  background-color: #c5d5e6;
  border-radius: 10px;
  padding: 15px;
}

.cardInfo {
  display: flex;
}

.payFormSubtitle {
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
}
.payFormLabel {
  display: flex;
  margin-bottom: 15px;
}
.cardInfoLabel {
  display: flex;
  flex-direction: column;
}

.payFormInput {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f3f7fa;

  &:hover,
  &:focus {
    border: 1px solid #670380;
  }
}

.payTermInput {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;

  border: none;
  outline: none;
  background-color: #f3f7fa;

  &:hover,
  &:focus {
    border: 1px solid #670380;
  }
}

.payFormInput:not(:last-child) {
  margin-right: 10px;
}

.wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payIconServ {
  fill: #ffffff;
  margin-bottom: 5px;
}
